@import "tailwindcss";

@theme {
  --radius-3xl: 1.5rem;
  --radius-2xl: 1rem;
  --radius-xl: 0.75rem;

  --color-brand-primary: #550c2f;
  --color-brand-secondary: #8d144e;
  --color-brand-muted: #fdf2f7;
}

/* Reset baseline styles that might interfere with components */
@layer base {
  body {
    @apply m-0 p-0 antialiased bg-slate-50 text-slate-900;
  }
}